/*Fondo y bordes de la calculadora*/
.calculadora { 
	border: 3px black ridge; 
	width: 300px;
	text-align: center;
	background-color: gray;
	border-radius: 4%;
}

/*aqui se pueden editar los elementos delntro de la caja, como bordes, fuente, etc*/
#fuentevisible { 
	width: 235px; 
	border: 3px black solid; 
	text-align: right; 
	position: relative; 
	left: 23px;  
	padding: 0px 5px;
	background-color: white; 
	font-family: "Arial, Helvetica, sans-serif"; 
	overflow: hidden;
	border-radius: 9%;
}
/*botones normales: anchura y margen*/
.calculadora [type=button] { 
	width: 48px; 
	padding: 0; 
	font-size: 18px; 
}
/*botones especiales*/
.calculadora input.largo { 
	color: blue; 
	width: 82px; 
}
